# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Vercel
.vercel/

# Redundant nested copies
dsspam/

# OS specific
Thumbs.db
Desktop.ini
.DS_Store

